 ../../../.bash_history
        ../../../.cache/
        ../../../.config/
        ../../../.dotnet/
        ../../../.gnupg/
        ../../../.local/
        ../../../.pki/
        ../../../.vscode/
        ../../../Downloads/
        ../../../Imagens/
        ../../../snap/
        ../../ALICE/
        ../Certificados/
        ../Curso 2 desafio 1/
        ./
        "../Outros Materiais de Programa\303\247\303\243o/"
        ../Praticar conceitos/
        ../Projetos do primeiro curso/
        ../aula-git-github/